<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Suitable Vacancies</h4>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Title</th>
              <th>Contacts</th>
              <th>Salary</th>
              <th>Skills</th>
              <th>Added</th>
              <th>Close Date</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="vacancy in suitableVacancies">
              <td>{{vacancy.title}}</th>
              <td>{{vacancy.contact}}</th>
              <td>{{vacancy.salary || "Не указано"}}</th>
              <td>
                <span class="skill-label label label-primary" ng-repeat="skill in vacancy.skills">
                  {{skill.name}}
                </span>
              </td>
              <td>{{vacancy.createdAt || "Не указано"}}</th>
              <td>{{vacancy.closeOn || "Не указано"}}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>