<div ng-controller="EmployeesCtrl">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Contacts</th>
        <th>Salary</th>
        <th>Active</th>
        <th>Skills</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in employees">
        <td>
          <span editable-text="employee.name" e-name="name" e-form="rowform" onbeforesave="checkName($data)" e-required>
            {{employee.name}}
          </span>
        </th>
        <td>
          <span editable-text="employee.contact" e-name="contact" e-form="rowform" onbeforesave="checkContact($data)" e-required>
            {{employee.contact}}
          </span>
        </th>
        <td>
          <span editable-text="employee.salary" e-name="salary" e-form="rowform">
            {{employee.salary || "Не указано"}}
          </span>
        </th>
        <td>
          <span editable-checkbox="employee.active" e-name="active" e-form="rowform" e-title="Active?">
              {{ employee.active && "В поиске" || "Не активен" }}
          </span>
        </th>
        <td>
          <tags-input ng-disabled="isEditSkillDisabled($index)" ng-model="employee.skills" display-property="name" key-property="id">
              <auto-complete source="loadSkills($query)"></auto-complete>
          </tags-input>
        </td>
        <td style="white-space: nowrap">
          <form editable-form name="rowform" onshow="editSkills($index)" onhide="disableEditSkills($index)" onbeforesave="saveEmployee($data, employee.id, $index)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == employee">
            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
              save
            </button>
            <button type="button" ng-disabled="rowform.$waiting" ng-click="cancelEdit(rowform, $index)" class="btn btn-default">
              cancel
            </button>
          </form>
          <div class="buttons" ng-show="!rowform.$visible">
            <button type="button" ng-click="getSuitableVacancies(employee)" class="btn btn-info" **ng-morphing-modal** content-selector="**cbc**" data-type="modal-trigger">
              vacancies
            </button>
            <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
            <button class="btn btn-danger" ng-click="removeEmployee($index, employee.id)">del</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-default" ng-click="addEmployee()">Add employee</button>
</div>