<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Suitable Employees</h4>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Contacts</th>
              <th>Salary</th>
              <th>Active</th>
              <th>Skills</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="employee in suitableEmployees">
              <td>{{employee.name}}</th>
              <td>{{employee.contact}}</th>
              <td>{{employee.salary || "Не указано"}}</th>
              <td>{{ employee.active && "В поиске" || "Не активен" }}</th>
              <td>
                <span class="skill-label label label-primary" ng-repeat="skill in employee.skills">
                  {{skill.name}}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>