<div ng-controller="VacanciesCtrl">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Contacts</th>
        <th>Salary</th>
        <th>Added</th>
        <th>Close</th>
        <th>Skills</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="vacancy in vacancies">
        <td>
          <span editable-text="vacancy.title" e-name="title" e-form="rowform" onbeforesave="checkTitle($data)" e-required>
            {{vacancy.title}}
          </span>
        </th>
        <td>
          <span editable-text="vacancy.contact" e-name="contact" e-form="rowform" onbeforesave="checkContact($data)" e-required>
            {{vacancy.contact}}
          </span>
        </th>
        <td>
          <span editable-text="vacancy.salary" e-name="salary" e-form="rowform">
            {{vacancy.salary || "Не указано"}}
          </span>
        </th>
        <td>
          <span e-name="createdAt" e-form="rowform">
            {{ (vacancy.createdAt | date: "yyyy-MM-dd") || 'Не указано' }}
          </span>
        </th>
        <td>
          <span editable-date="vacancy.closeOn" e-name="closeOn" e-form="rowform">
            {{ (vacancy.closeOn | date: "yyyy-MM-dd") || 'Не указано' }}
          </span>
        </th>
        <td>
          <tags-input ng-disabled="isEditSkillDisabled($index)" ng-model="vacancy.skills" display-property="name" key-property="id">
              <auto-complete source="loadSkills($query)"></auto-complete>
          </tags-input>
        </td>
        <td style="white-space: nowrap">
          <form editable-form name="rowform" onshow="editSkills($index)" onhide="disableEditSkills($index)" onbeforesave="saveVacancy($data, vacancy.id, $index)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == vacancy">
            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
              save
            </button>
            <button type="button" ng-disabled="rowform.$waiting" ng-click="cancelEdit(rowform, $index)" class="btn btn-default">
              cancel
            </button>
          </form>
          <div class="buttons" ng-show="!rowform.$visible">
            <button type="button" ng-click="getSuitableEmployees(vacancy)" class="btn btn-info" **ng-morphing-modal** content-selector="**cbc**" data-type="modal-trigger">
              employees
            </button>
            <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
            <button class="btn btn-danger" ng-click="removeVacancy($index, vacancy.id)">del</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-default" ng-click="addVacancy()">Add vacancy</button>
</div>