.records-table {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.pagination {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}
.root-link {
  color: #fff;
  text-decoration: none;
}